body {
          background: url("images/linija fade-out.svg") 0 0 no-repeat;
          background-position: center center;
          height: 600px;}

#clearBoth{
	clear:both;
}

#clearLeft{
	clear:left;
}

#clearRight{
	clear:right;
}

#wrapperPrvi {
	display:inline-block;
	vertical-align: middle;
	float:left;
}

#wrapperDrugi {
	display:inline-block;
	vertical-align: middle;
	float:right;
}

#drugi{
	background-color: red;
	height:100%;
	display:flex;
	align-items: center;
}

                    #drugi1 {
                    	   background-color: yellow;
                    	   width:20px;
                    	   height:10px;
                    	   float:left;                    }

                    #drugi2 {
                    	   background-color: cyan;
                    	   width:20px;
                    	   height:20px;
                    	   float:left;
                    }

#prvi{
	 background-color: red;
	 height:100%;
	 display:flex;
	 align-items: center;
	}

                    #prvi1 {
                    	   background-color: cyan;
                    	   width:20px;
                    	   height:20px;
                    	   float:right;
                    }

                    #prvi2 {
                    	   background-color: yellow;
                    	   width:20px;
                    	   height:10px;
                    	   float:right;
                    }

