* {
  margin: 0;
}

body {
  background-color: white;
}

img {
    max-width: 100%;
    max-height: 100%;
}



#clearLeft {
  clear:left;
}  

#clearBoth {
  clear:both;
}


.header {
   background-color: rgb(244, 0, 64);
   float:left;
  }

           #logo {
                  float:left; 
                  margin-left: 20%;
                  margin-top:5%;
                }

                #logo img {
                  width:20%;
                  height:20%;
                   }
      
           #menu {
                background-color: green;
                position:fixed;
                display:flex;
                top: 10%;
                left:40%;
                font-family: 'Montserrat', sans-serif;
                font-size:70%;
                vertical-align: middle;
                padding:0.5%;
                font-color:white;

               }

                     #menu li 
                     {
                       list-style: none;
                       margin-left: 10px;
                       margin-right: 10px;
                     }

                     #menu li a {
                       text-align:center;
                       margin: 0 10px;
                       display: block;
                       position: relative;
                       margin:0;
                     }

                     #menu li span {
                      margin: 2px;
                      vertical-align: middle;
                      color: white;
                             }

                     #menu li a .fa {
                       color:white;
                       margin:2px;
                     }

               #featuresMenuButton {
                      
                                    }

               #howItWorksMenuButton {
          
                                 }

               #aboutUsMenuButton {
          
                                    }

               #facebookMenuSocial {
                                    width:20px;
                                    height:auto;
                              }

               #instagramMenuSocial {
                                    width:20px; 
                                    height:auto;
                             }

                 #twitterMenuSocial {
                                    width:20px; 
                                    height:auto;
                                    }
                

            #summary {
                 background-color: rgb(190, 206, 86);
                 width: 32%;
                 margin-left: 50%;
                 margin-top: 10%;
                 overflow: hidden;
               }


.features {
          background: url("images/linija fade-out.svg") 0 0 no-repeat;
          background-position: center center;
          height:600px;
          width: 100%;
}





#spotTheIssueWrapper {
                     float:right;
                     margin-right:20%;
                    }

                #spotTheIssueContainer {
                                       background-color: red;
                                       height:100%;
                                       display:flex;
                                       align-items: center;
                                   }
                                        #spotTheIssueWrappperINS {
                                        }

                                        #spotTheIssue {
                                                      background-color: cyan;
                                                      display:flex;
                                                      align-items: center;
                                                   }

                                                      #spotTheIssueImage {
                                                            width:50px;
                                                            height:50px;
                                                            background-color:black;
                                                      }
                    
                                        #lineDivider {
                                                      background-color: yellow;
                                                      width:50px;
                                                      height:10px;
                                                   }

#takePictureWrapper {
                     float:left;
                     margin-left;
                    }

                #takePictureContainer {
                                       background-color: red;
                                       height:100%;
                                       display:flex;
                                       align-items: center;
                                   }
                                        #takePictureWrappperINS {
                                        }

                                        #takePicture {
                                                      background-color: cyan;
                                                      display:flex;
                                                      align-items: center;
                                                   }

                                                      #takePictureImage {
                                                            width:50px;
                                                            height:50px;
                                                            background-color:black;
                                                      }
                    



#trackTheProgressWrapper {
                     float:left;
                     margin-left;
                    }

                #trackTheProgressContainer {
                                       background-color: red;
                                       height:100%;
                                       display:flex;
                                       align-items: center;
                                   }
                                        #trackTheProgressWrappperINS {
                                        }

                                        #trackTheProgress {
                                                      background-color: cyan;
                                                      display:flex;
                                                      align-items: center;
                                                   }

                                                      #trackTheProgressImage {
                                                            width:50px;
                                                            height:50px;
                                                            background-color:black;
                                                      }


#waitForTownshipWrapper {
                     float:right;
                     margin-right:20%;
                    }

                #waitForTownshipContainer {
                                       background-color: red;
                                       height:100%;
                                       display:flex;
                                       align-items: center;
                                   }
                                        #waitForTownshipWrapperINS {
                                        }

                                        #waitForTownship {
                                                      background-color: cyan;
                                                      display:flex;
                                                      align-items: center;
                                                   }

                                                      #waitForTownshipImage {
                                                            width:50px;
                                                            height:50px;
                                                            background-color:black;
                                                      }
                    
                                        #lineDivider {
                                                      background-color: yellow;
                                                      width:50px;
                                                      height:10px;
                                                   }


#keepHelpingWrapper {
                     float:right;
                     margin-right:20%;
                    }

                #keepHelpingContainer {
                                       background-color: red;
                                       height:100%;
                                       display:flex;
                                       align-items: center;
                                   }
                                        #keepHelpingWrapperINS {
                                        }

                                        #keepHelping {
                                                      background-color: cyan;
                                                      display:flex;
                                                      align-items: center;
                                                   }

                                                      #keepHelpingImage {
                                                            width:50px;
                                                            height:50px;
                                                            background-color:black;
                                                      }
                    
                                        #lineDivider {
                                                      background-color: yellow;
                                                      width:50px;
                                                      height:10px;
                                                   }
      
.howItWorks {
   background-color: yellow;
   height: 200px;
   width: 100%;
}

.moto {
  background-color: cyan;

}

                       #beTheHero {
                                  background-color: white;
                                  float:left;
                                  margin-left:20%;
                                  margin-top:4%;
                                  margin-bottom:4%;
                       }
              
                       #beTheHeroAnimation {
                                          background-color: red;
                                          float:right;
                                          margin-right:20%;
                                          margin-top:4%;
                                          margin-bottom:4%;
                                         }

.download {
 background-color: green;
   width: 100%;
}
          #readyToHelp {
            float:left;
            font-family: 'Montserrat', sans-serif;
            font-size:120%;
            background-color:red;
            margin-left:20%;
            margin-top:2.5%;
          }

          #andItsFree {
                float:right;
                background-color: white;
                margin-right:20%;
                margin-top:-0.8%;
               }
          #downloadIt{
                       clear:both;
                       float:left;
                       font-family: 'Montserrat', sans-serif;
                       font-size:100%;
                       margin-top:5%;
                       margin-left:12.5%;
                       margin-bottom:1%;
                    }

          #phoneWithLogoImage {
                              float:right;
                             }
          #footerButtons {
          	            clear:both;
                        margin-left:10%;
                       }  

          #buttoniOS {
                      width:7%;
                      height:100%;
                      border: 2px solid black;
                      border-radius: 20px;
                      padding: 0.1%;
                      background-color: white; 
                      text-align:center;
                      float:left;
                      margin-bottom:10%;
                     }  
      
                #buttoniOSimage {
                                width:20%;
                                height:5%;
                                vertical-align: middle;
                              }   
                #buttoniOSspan {
                                vertical-align: middle;
                                font-family: 'Montserrat', sans-serif;
                                font-size:70%;
                               }   

           #buttonAndroid {
                          width:7%;
                          height:100%;
                          border: 2px solid black;
                          border-radius: 20px;
                          padding: 0.1%;
                          background-color: white; 
                          text-align:center;
                          float:left;
                        }

                #buttonAndroidimage {
                                width:25%;
                                vertical-align: middle;
                              }   
                #buttonAndroidSpan {
                                vertical-align: middle;
                                font-family: 'Montserrat', sans-serif;
                                font-size:70%;
                               }   

            #phoneWithLogoImage {
               }


.footer {
 background-color: brown;
 display:flex;
}

           #socialBar {
                background-color: green;
                height:5%;
                font-size:140%;
                padding:0.5%;
                font-color:white;
                display:flex;
                margin-left:45%; 
                margin-top:2%;
               }

                     #socialBar li 
                     {
                       list-style: none;
                       margin-left: 10px;
                       margin-right: 10px;
                     }

                     #socialBar li a {
                       text-align:center;
                       margin: 0 10px;
                       display: block;
                       position: relative;
                       margin:0;
                     }

                     #socialBar li span {
                      margin: 2px;
                      vertical-align: middle;
                      color: white;
                             }

                     #socialBar li a .fa {
                       color:white;
                       margin:2px;
                     }
      
           #allRightsReserved {
            background-color:white;
            font-size:70%;
            padding:0.5%;
                font-color:white;
                display:flex;
                margin-left:18%; 
                margin-top:2.5%;
           }

          #allRightsReserved p {
            font-family: 'Montserrat', sans-serif;
            font-size:120%;
          }
